# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset (ignore entire backend data folder)
backend/data/

# Trained models
backend/model/*.h5

# OS junk
.DS_Store
Thumbs.db

node_modules/
front-end/node_modules/
landmark-based-ISL-translation/
venv/