# ================= VIRTUAL ENV =================
venv/

# ================= PYTHON =================
__pycache__/
*.pyc



# ================= MODEL FILES =================
backend/model/*.h5
backend/model/*.npy

# ================= FRONTEND =================
node_modules/
dist/
front-end/frontend/node_modules/
.vite/

# ================= ENV FILES =================
.env

# ================= OS FILES =================
.DS_Store
Thumbs.db

node_modules/
front-end/node_modules/
landmark-based-ISL-translation/
venv/
labels.npy